[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
Type=notify
User={{ redmine_user }}
Group={{ redmine_group }}
ExecStart={{ redis_install_dir }}/bin/redis-server {{ redis_config_dir }}/redis.conf
ExecStop=/bin/kill -s QUIT $MAINPID
TimeoutStopSec=0
Restart=always
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target

